@import "mixins";
@import "variables";

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: calc($regularSize/5);
  background: $whiter;
  color: $black;
  overflow: hidden;
  a {
    outline: none;
    &:focus,
    &:hover {
      .title p:first-child {
        text-decoration: underline;
      }
    }
    & + div {
      padding: 0 calc($regularSize/2) calc($regularSize/2) calc($regularSize/2);
    }
  }
}
.cover {
  & + p {
    margin: calc($regularSize/2) 0;
    padding: 0 calc($regularSize/2);
    color: $black;
  }
}

.title {
  padding: calc($regularSize/2);
  p:first-child {
    flex: 1;
    margin-right: calc($regularSize/2);
  }
}

@include tablet() {
  .book a + div {
    padding: 0 $regularSize $regularSize $regularSize;
  }
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $regularSize;
  }
}
