@import "mixins";
@import "variables";

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: calc($regularSize/5);
  background: $whiter;
  color: $black;
  overflow: hidden;
}
.cover {
  &:hover + p {
    text-decoration: underline;
  }
  & + p {
    margin: calc($regularSize/2) 0;
    padding: 0 calc($regularSize/2);
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc($regularSize/2) calc($regularSize/2) calc($regularSize/2);
  & > p {
    margin-right: calc($regularSize/2);
  }
  & > div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
