@import "variables";

.button {
  position: relative;
  display: flex;
  align-items: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  & > * {
    transition: all 300ms ease-in-out;
  }
  & > p,
  & > span {
    padding: 1rem;
    margin: -1rem;
    display: inline-block;
  }
  & > svg {
    display: block;
    padding: 1rem;
    & + p,
    & + span {
      margin: 0;
    }
  }
  & > svg,
  & > div {
    & + p,
    & + span {
      margin-left: calc($regularSize/2);
    }
  }
  &:hover,
  &:focus-visible {
    & > p,
    & > span {
      text-decoration: underline;
    }
    & > svg {
      display: block;
      opacity: 1;
      transform: scale(1.2);
    }
  }

  &--primary {
    color: $black;
    background: $yellower;
    &:hover,
    &:focus-visible {
      background: $yellow;
    }
  }
  &--secondary {
    color: $black;
    background: $yellow;
  }
  &--dark {
    color: $white;
    background: $dark;
  }
  &--light {
    color: $black;
    background: $white;
  }

  &--primary,
  &--secondary,
  &--light,
  &--dark {
    justify-content: center;
    padding: 1rem;
    min-height: calc(48px - 2rem);
    min-width: calc(48px - 2rem);
    border-radius: calc($regularSize/5);
    & > p,
    & > span {
      margin: 0;
      padding: 0;
    }
    & > svg {
      padding: 0;
    }
    &:hover,
    &:focus-visible {
      opacity: 0.8;
      text-decoration: none;
      & > p,
      & > span {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
