@import "mixins";
@import "variables";
.order,
.resume {
  background: $whiten;
  margin-bottom: $regularSize;
  padding: $regularSize 0;
}

.totals {
  padding: 0 calc($regularSize/2);
}
.price {
  padding: 0 calc($regularSize/2);
}
