@import "mixins";
@import "variables";

.search {
  position: fixed;
  top: calc($regularSize * 3);
  right: 0;
  background: $whiten;
  width: 100vw;
  overflow: hidden;
  &--on {
    height: calc(100vh - $regularSize * 3);
    transition: height 300ms ease-out;
  }
  &--off {
    height: 0;
    transition: height 300ms ease-in;
  }
}

.wrapper {
  padding: $regularSize;
}

@include tablet() {
  .search {
    height: calc(100vh - $regularSize * 3);
    &--on {
      width: 25rem;
      transition: width 300ms ease-out;
    }
    &--off {
      width: 0;
      transition: width 300ms ease-in;
    }
  }
}
