//Font
$book: 300;
$bold: 700;
$tinyFont: 0.625rem;
$smallFont: 0.75rem;
$regularFont: 1em;
$mediumFont: 1.25rem;
$largeFont: 1.5rem;
$giantFont: 2rem;

// Sizes
$regularSize: 1.25rem;

// Colors
$black: #000000;
$darken: #222222;
$dark: #261717;
$greyen: #979797;
$grey: #cacaca;
$white: #f0f0f0;
$whiten: #ffffff;
$yellow: #f2db94;
