//Font
$normalFont: 300;
$boldFont: 700;

$tinyFont: 0.625rem;
$smallFont: 0.75rem;
$regularFont: 1em;
$mediumFont: 1.25rem;
$largeFont: 1.5rem;

// Sizes
$regularSize: 1.25rem;

// Colors
$black: #111111;
$blacker: #000000;

$dark: #222222;
$darker: #151515;

$greyer: #888888;
$grey: #cacaca;

$purpler: #2f1c59;
$purple: #46328c;

$white: #f0f0f0;
$whiter: #ffffff;

$yellow: #f2eb8d;
$yellower: #f2e74b;
